.testimonial-section {
  display: flex;
  padding: 134px 86px 134px;
  flex-direction: column;
  align-items: flex-start;
  gap: 80px;
  background-color: var(--bg-shade);
}
.sections-heading {
  color: var(--heading-color);
}
.testimonial-section-card {
  display: flex;
  padding: 42.6px;
  flex-direction: column;
  align-items: flex-start;
  gap: 42.6px;
  flex: 1 0 0;
  border-radius: 8px;
  border: 1.33px solid #006b6a;
}
.testimonial-section-card-reviews {
  display: flex;
  align-items: flex-start;
  gap: 5.33px;
}
.testimonial-section-card-author-detail {
  display: flex;
  align-items: center;
  gap: 22px;
}
.testimonial-section-card-author-detail img{
  width: 64px;
  height: 64px;
  border-radius: 50%;
}
.testimonial-section-card-author-detail .testimonial-author-name {
  font-weight: 600;
  color: var(--heading-color);
}
.testimonial-author-designation {
  color: var(--darkblue);
  font-size: 16px;
  font-weight: 400;
  line-height: 150%;
}
