/*----- Main Headings -----*/
/* Heading 1 */
h1 {
  font-size: 56px;
  font-weight: 700;
  line-height: 67px;
}

/* Heading 2 */
h3 {
  font-size: 48px;
  font-weight: 700;
  line-height: 58px;
}

/* Heading 3 */
h2 {
  font-size: 24px;
  font-weight: 600;
  line-height: 34px;
}
/*----- Main Headings -----*/

/*----- Paragraphs text large medium small -----*/
/* Body 1 */
.text-lg {
  color: var(--darkblue);
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 27px;
}

/* Body 2 */
.text-md {
  color: var(--darkblue);
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
}

/* Body 3 */
.text-sm {
  color: var(--black);
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 21px;
}
/*----- Paragraphs text large medium small -----*/

/*----- Section Titles -----*/
/* Skills & About Me */
.section-title {
  color: var(--heading-color);
  font-size: 21px;
  text-align: center;
  font-style: normal;
  font-weight: 600;
  line-height: 32px;
  display: flex;
  align-items: flex-start;
}

/* Portfolio, Testimonial & Contact Me */
.sub-title {
  color: var(--heading-color);
  font-size: 16px;
  font-weight: 600;
  line-height: 24px;
}
/*----- Section Titles -----*/

/* media queries */

@media screen and (max-width: 1600px) {
  .skills-section-heading {
    font-size: 54px;
    line-height: 70px;
  }
  .skills-section-container {
    gap: 16px;
  }
  .skills-section-card-content {
    gap: 20px;
  }
  .skills-section-title {
    font-size: 23px;
    line-height: 30px;
  }
  .skills-section-description {
    font-size: 16px;
    line-height: 24px;
  }
}

@media only screen and (max-width: 1200px) {
  .navbar {
    padding: 15px 20px;
  }
  .navbar h3 {
    font-size: 25px;
  }
  .navbar .btn-outline-primary {
    display: none;
  }
  .hero-section {
    display: flex;
    flex-direction: column-reverse;
    padding-bottom: 70px;
  }
  .hero-section-title,
  .hero-section-description,
  .footer-content {
    text-align: center;
  }
  .circle {
    display: none;
  }

  .skills-section-container,
  .about-section,
  .portfolio-section-container,
  .portfolio-container-box,
  .footer-link-container,
  .footer-items > ul,
  .footer-content-container {
    display: flex;
    flex-direction: column;
  }
  .skills-section,
  .portfolio-container,
  .hero--section-content,
  .hero-section-content-box {
    align-items: center;
  }
  .portfolio-container-box {
    gap: 30px;
  }
  .skills-section,
  .testimonial-section,
  .contact-section,
  .footer-container {
    gap: 20px;
    padding-top: 70px;
    padding-bottom: 70px;
  }
  .skills-section-card {
    min-height: 350px;
  }
  .about-section {
    gap: 20px;
    padding-top: 0;
    padding-bottom: 0;
  }
  .about-section-img {
    display: none;
  }
  .testimonial-section-card {
    padding: 25px;
  }
  .hero-section-title,
  .skills-section-heading,
  .sections-heading {
    font-size: 35px;
    line-height: 40px;
  }
  .hero-section-content-box {
    gap: 10px;
  }
  .contact-form-container {
    width: 100%;
  }
  .container {
    display: flex;
    flex-direction: column;
    gap: 10px;
  }
  .footer-social-icon > ul,
  .footer-items > ul {
    padding: 10px 0;
    align-items: center;
  }
  .divider {
    margin: 20px;
  }
}

@media screen and (max-width: 1200px) {
  .nav-hamburger {
    display: flex;
    z-index: 200;
    cursor: pointer;
  }
  .navbar-items {
    display: flex;
  }
  .navbar-items {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(255, 255, 255);
    top: -20rem;
    left: 0;
    width: 100%;
    transition: all ease-in-out 0.4s;
  }
  .navbar-items ul {
    flex-direction: column;
    align-items: center;
    width: 100%;
    padding: 3rem 0 0.6rem;
    z-index: -100;
  }
  .navbar-items ul li {
    text-align: center;
  }
  .navbar-items ul li a {
    padding: 0.5rem;
  }
  .navbar-items {
    z-index: -1000;
  }
  .navbar-items.active {
    top: 30px;
  }
  .nav-hamburger.active :nth-child(1) {
    transform: rotate(45deg) translate(0.45rem, 0.1875rem);
  }

  .nav-hamburger.active :nth-child(2) {
    opacity: 0;
  }

  .nav-hamburger.active :nth-child(3) {
    transform: rotate(-45deg) translate(0.45rem, -0.1875rem);
  }
}
